@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/IRANSansWeb\(FaNum\)_Bold.ttf');
    
}
body{
    font-family: IRANSans;
}
#IranMap {
    display: block;
    position: relative;
    direction: rtl;
    text-align: right;
    padding: 0;
    font-family: IRANSans !important;
    font-size: 12px;
    width: 90%;
    margin: 50px auto
}

    #IranMap .show-title {
       
        display: none;
        position: absolute;
        background-color: #C20008;
        color: #fff;
        margin: 0 !important;
        padding: 0 5px;
        text-align: center;
        line-height: 26px;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        opacity: .8
    }

    #IranMap .map {
        display: block;
        float: left;
        width: 50%;
        text-align: left;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none
    }

        #IranMap .map svg {
            height: 500px;
            width: 500px
        }

        #IranMap .map .border path, #IranMap .map .island path {
            fill: #fff
        }

        #IranMap .map .province path {
            fill: #999
        }

        #IranMap .map .sea path, #IranMap .map .lake path {
            fill: #6caed8
        }

        #IranMap .map .province path:hover, #IranMap .map .island path:hover, #IranMap .map .province path.hover, #IranMap .map .island path.hover {
            fill: darkred !important;
            cursor: pointer
        }

    #IranMap .list {
        display: block;
        float: right;
        width: 50%
    }

        #IranMap .list ul {
            padding: 0
        }

        #IranMap .list > ul {
            margin-left: 10px
        }

        #IranMap .list li {
            list-style: none
        }

        #IranMap .list span {
            border: 1px solid #95989A;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            text-align: center;
            font-size: 25px;
            background: #C20008;
            color: white;
            display: block;
            margin: 0 2px;
            padding: 10px 8px;
            line-height: 26px;
            margin-top: 10px;
            margin-bottom: 2px
        }

        #IranMap .list li ul li {
            display: block;
            float: right;
            width: 33.33333333333333%
        }

            #IranMap .list li ul li a {
                background: #F4F4F4;
                text-align: center;
                font-size: larger;
                color: #3C3E3B;
                display: block;
                padding: 6px 8px;
                line-height: 26px;
                margin: 2px 15px 10px 15px;
                text-decoration: none;
                border: 1px solid #C20008;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
            }

                #IranMap .list li ul li a:hover, #IranMap .list li ul li a.hover {
                    background: #F4F4F4;
                }

        #IranMap .list ul:before, #IranMap .list ul:after {
            display: table;
            content: " "
        }

        #IranMap .list ul, #IranMap .list ul:after {
            clear: both
        }

    #IranMap .city {
        clear: both;
        padding: 10px 0
    }

@media(max-width:930px) {
    #IranMap .list {
        width: 50%
    }
}

@media(max-width:745px) {
    #IranMap .list li ul li {
        width: 50%
    }
}

@media(max-width:515px) {
    #IranMap .list, #IranMap .map {
        width: 100%
    }

        #IranMap .list li ul li {
            width: 33.33333333333333%
        }

            #IranMap .list li ul li a {
                font-size: 10px !important
            }
}

@media(max-width:515px) {
    #IranMap .list li ul li {
        width: 50%
    }
}

@media(max-width:250px) {
    #IranMap .list li ul li {
        width: 100%
    }
}
